<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin: 0;
    }
    footer {
        margin-top: auto;
        width: 100%;
        background-color: #f1f1f1;
        padding: 10px;
        box-sizing: border-box;
    }
    .footer-content {
        text-align: left;
        margin-left: 10px;
    }
</style>
